* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  max-width: 1200px;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #0c0c0c;
}

